<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DDTarGzipDecompressTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>596181A11DB71E67005AD7B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>596181B71DB71E68005AD7B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>596181C21DB71E68005AD7B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
